* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: hsl(236, 13%, 42%);
  padding: 16px;
}

header {
  padding: 10px 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 48px;
  height: 26px;
}

.menu-btn {
  border: none;
  background: transparent;
}

.main-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main-nav[hidden] {
  display: none;
}
.main-nav li {
  font-size: 1.25em;
}
.main-nav a {
  text-decoration: none;
  color: hsl(240, 100%, 5%);
}

.open-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 258px;
  height: 100%;
  background-color: hsl(36, 100%, 99%);
  padding: 140px 25px 25px;
}

.close-icon {
  position: fixed;
  z-index: 99;
  top: 30px;
  right: 20px;
}

.banner-img {
  width: 100%;
}

h1 {
  color: hsl(240, 100%, 5%);
}

h2 {
  color: hsl(35, 77%, 62%);
}

section {
  background-color: hsl(240, 100%, 5%);
}
section h3 {
  color: hsl(36, 100%, 99%);
}
section p {
  color: hsl(233, 8%, 79%);
}

h3 {
  color: hsl(240, 100%, 5%);
}

.rank {
  color: hsl(5, 85%, 63%);
}