* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: hsl(236, 13%, 42%);
  padding: 16px;
}

header {
  padding: 10px 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body.menu-open {
  overflow: hidden;
}

.logo {
  width: 48px;
  height: 26px;
}

.menu-btn {
  border: none;
  background: transparent;
}

.main-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main-nav[hidden] {
  display: none;
}
.main-nav li {
  font-size: 1.125rem;
}
.main-nav a {
  text-decoration: none;
  color: hsl(240, 100%, 5%);
}

.open-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 258px;
  height: 100%;
  background-color: hsl(36, 100%, 99%);
  padding: 140px 25px 25px;
}

.close-icon {
  position: fixed;
  z-index: 99;
  top: 30px;
  right: 20px;
}

.banner-img {
  width: 100%;
}

h1 {
  color: hsl(240, 100%, 5%);
  font-weight: 800;
  font-size: 2.60125rem;
  margin: 20px 0 10px;
  line-height: 1;
}

h2 {
  color: hsl(35, 77%, 62%);
  font-size: 2.125rem;
}

section {
  background-color: hsl(240, 100%, 5%);
}
section h3 {
  color: hsl(36, 100%, 99%);
  font-size: 1.3125rem;
  padding-bottom: 10px;
}
section p {
  color: hsl(233, 8%, 79%);
  line-height: 1.7;
}
section article {
  border-bottom: 1px solid hsl(233, 8%, 79%);
  padding: 30px 0 25px;
}
section article:last-of-type {
  border: none;
}

h3 {
  color: hsl(240, 100%, 5%);
}

.rank {
  color: hsl(5, 85%, 63%);
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.news-preview {
  line-height: 1.7;
}

.read-more-btn {
  margin-top: 20px;
  text-transform: uppercase;
  background-color: hsl(5, 85%, 63%);
  color: hsl(240, 100%, 5%);
  border: none;
  padding: 15px 30px;
  margin: 25px 0;
  font-weight: 700;
  letter-spacing: 5px;
}

.new-articles {
  margin: 40px 0;
  padding: 20px 20px 0;
}