@use "config";

header {
    padding: 10px 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 48px;
    height: 26px;
}

.menu-btn {
    border: none;
    background: transparent;
}

.main-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    gap: 25px;
    // height: 75%;

    &[hidden]{
        display: none;
    }

    li {
        font-size: 1.25em;
    }

    a {
        text-decoration: none;
        color: config.$very_dark_blue;
    }
}

.open-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 258px;
    height: 100%;
    background-color: config.$off_white;
    padding: 140px 25px 25px;
}

.close-icon {
    position: fixed;
    z-index: 99;
    top: 30px;
    right: 20px;
}

.banner-img {
    width: 100%;
}

h1 {
    color: config.$very_dark_blue;
}

h2 {
    color: config.$soft_orange;
}

section {
    background-color: config.$very_dark_blue;

    h3 {
        color: config.$off_white;
    }

    p {
        color: config.$grayish_blue;
    }
}

h3 {
    color: config.$very_dark_blue;
}

.rank {
    color: config.$soft_red;
}

.send-to-back {
    
}